<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="sergio-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-xs-12">
          <span>Soy la columna 1</span>
          <img src="https://image.flaticon.com/icons/svg/145/145843.svg" />
          <button type="button" name="button" class="btn btn-info">Click</button>
        </div>


    <button>Cargar datos</button>
    <table class = "table table-striped col.lg-12 col-xs-12">


      <thead>
        <th>ID
        </th>
        <th>NOMBRE</th>
        <th>APELLIDO
        </th>
      </thead>

    <tbody>
      <tr>
        <td>1</td>
        <td>Doramon</td>
        <td>garcia</td>
      </tr>
    </tbody>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SergioVisor extends Polymer.Element {
      static get is() { return 'sergio-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'visor'
          },
          prop2:{
            type:Number,
            value: 999
          }
        };
      }
    }

    window.customElements.define(SergioVisor.is, SergioVisor);
  </script>
</dom-module>
